@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Payment</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Css/main.css" />
</head>
<body class="no-sidebar is-preload">
    <div id="page-wrapper">

        <section id="header" class="wrapper">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="/Home/Payment">THANH TOÁN</a></h1>
                <p>Quý khách vui lòng điền số thẻ để thanh toán</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/Home/Main">Trang chủ</a></li>
                    <li> <a href="/Home/SignIn">Đăng ký</a></li>
                    <li><a href="left-sidebar.html">Đăng nhập</a></li>
                    <li class="current"><a href="">Đặt tiệc</a></li>
                    <li><a href="">Ẩm thực</a></li>
                </ul>
            </nav>

        </section>

        <!-- Main -->
        <div id="main" class="wrapper style2">
            <div class="container">

                <!-- Content -->
                <div id="content">
                    <article class="box post">
                        <div>
                            <!-- Contact Form -->
                            <section>
                                <form method="post" action="#">
                                    <div>
                                        <div>
                                            <label style="margin-left: 10px" id="element1" class="form-check-label" for="defaultCheck1">
                                                <font size="6">Visa</font>
                                            </label>
                                            <input type="text" id="element2" />
                                        </div>
                                            <br>

                                        <div>
                                             <label style="margin-left: 10px" id="element1" class="form-check-label" for="defaultCheck1">
                                                 <font size="6">Paypal</font>
                                             </label>
                                             <input type="text" id="element2" />
                                        </div>
                                            <br>

                                        <div>
                                              <label style="margin-left: 10px" id="element1" class="form-check-label" for="defaultCheck1">
                                                  <font size="6">ATM</font>
                                              </label>
                                              <input type="text" id="element2" />
                                              <div>
                                                  <br>

                                                  <div class="col-12">
                                                      <ul class="actions">
                                                          <li><input onclick="myFunction()" type="submit" class="style1" value="Thanh toán" /></li>
                                                          <li><input type="reset" class="style2" value="Hủy" /></li>
                                                      </ul>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                </form>
                            </section>
                        </div>
                    </article>
                </div>
            </div>
        </div>



        <!-- Footer -->
        <section id="footer" class="wrapper">
            <div class="title">Liên hệ</div>
            <div class="container">
                <header class="style1">
                    <h2>Liên hệ ngay với chúng tôi để được tư vấn thêm</h2>
                    <p>
                        Nếu có gì không hài lòng mong quý khách phản hồi theo thông tin phía dưới.<br />
                        Xin lỗi nếu làm quý khách phiền lòng.
                    </p>
                </header>
                <div class="row">
                    <div class="col-6 col-12-medium">

                        <!-- Contact Form -->
                        <section>
                            <form method="post" action="#">
                                <div class="row gtr-50">
                                    <div class="col-6 col-12-small">
                                        <input type="text" name="name" id="contact-name" placeholder="Name" />
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <input type="text" name="email" id="contact-email" placeholder="Email" />
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" class="style1" value="Send" /></li>
                                            <li><input type="reset" class="style2" value="Reset" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section>

                    </div>
                    <div class="col-6 col-12-medium">

                        <!-- Contact -->
                        <section class="feature-list small">
                            <div class="row">
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-home">Địa chỉ</h3>
                                        <p>
                                            56 Sư Vạn hạnh<br />
                                            Quận 10, TP.HCM<br />
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-comment">Cộng đồng</h3>
                                        <p>
                                            <a href="#">facebook.com/goldenflower</a><br />
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-envelope">Email</h3>
                                        <p>
                                            <a href="#">baohua01234@gmail.com</a>
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon fa-phone">Điện thoại</h3>
                                        <p>
                                            0908545151544
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <div id="copyright">
                    <ul>
                        <li>&copy; Golden Flower</li>
                        <li>Design: <a href="">Nhom lap trinh web</a></li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        function myFunction() {
            alert("Thanh toán thành công!");
        }
    </script>

</body>
</html>
